<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/logs/"/>
  <variable name="layout" value="${longdate}|${callsite}|${machinename}|${message}"/>
  <targets>
    <target name="All"
            xsi:type="File"
            fileName="${logDirectory}/${shortdate}_all.log"
            layout="${layout}"
            archiveFileName="${basedir}/logs/${shortdate}_all.log"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="30" />
    <target name="AllWithLevel"
            xsi:type="File"
            fileName="${logDirectory}/${shortdate}_all.log"
            layout="${newline}${level}:${newline}${layout}${newline}"
            archiveFileName="${basedir}/logs/${shortdate}_all.log"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="30" />
    <target name="Error"
            xsi:type="File"
            fileName="${logDirectory}/${shortdate}_errors.log"
            layout="${layout}"
            archiveFileName="${basedir}/logs/${shortdate}_errors.log"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="30" />
  </targets>

  <rules>
    <logger name="*" level="Debug" writeTo="All" />
    <logger name="*" level="Error" writeTo="Error,AllWithLevel" />
  </rules>
</nlog>